[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/eclectic"]
	path = themes/eclectic
	url = git@github.com:hugoinaction/Eclectic.git
